@import '../../styles/settings.scss';


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.navbar__item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navbar__icon {
  font-size: 30px;
}